# IDE
.vscode/
.idea/
*.iml

# Build
backend/build/
backend/.gradle/
backend/.jqwik-database
frontend/.next/
frontend/node_modules/
phaser_game/node_modules/

# Environment
backend/.env
.env

# OS
.DS_Store
Thumbs.db

# AI ajent
.kiro/specs/ilgi-yebo/.config.kiro
backend/src/main/java/com/ilgiyebo/domain/chat/.kiro/*
.kiro/specs/ai-service-separation/.config.kiro
backend/src/main/resources/mock-data.sql
